*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
header{
  
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    border-bottom: 1px solid rgb(236, 221, 221);
    height: 64px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;


}
main{
    margin-left: 122.4px;
    margin-right: 122.4px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style-type:none;;

}
#logo{
    text-decoration: none;
    color: black;
    font-size: 26px;

}
.navlink{
    list-style-type: none;
    text-decoration: none;
    color: rgb(99, 90, 90);
    font-size: 16px;
}
h1{
    font-size:36px;
   margin-bottom: 24px;
}
p{
    font-size: 16px;
   
}
img{
    width:50% ;
}
section{
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#section1links{
    margin-top: 16px;

}
.safaributton{
    display: inline block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;


}
.contactbutton{
    display: inline block;
   text-decoration: none;
    color: black;
    border: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top:8px ;
    border-radius: 4px;
}